@model StokTakipMVC.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)

    <div class="form-group">
        @Html.LabelFor(m => m.AD)
        @Html.TextBoxFor(m => m.AD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MARKA)
        @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.STOK)
        @Html.TextBoxFor(m => m.STOK, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ALISFIYAT)
        @Html.TextBoxFor(m => m.ALISFIYAT, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SATISFIYAT)
        @Html.TextBoxFor(m => m.SATISFIYAT, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.KATEGORI)
        @Html.DropDownListFor(m => m.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.urunkategori, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}


