@model StokTakipMVC.Models.Entity.TBLMUSTERI
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("MusteriGuncelle", "Musteri", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)

    <div class="form-group">
        @Html.LabelFor(m => m.AD)
        @Html.TextBoxFor(m => m.AD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SOYAD)
        @Html.TextBoxFor(m => m.SOYAD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SEHIR)
        @Html.TextBoxFor(m => m.SEHIR, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BAKIYE)
        @Html.TextBoxFor(m => m.BAKIYE, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}

